body {
  padding: 1rem;
  background-image: radial-gradient(#FFFBE5, #FFFFFF);

}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #696969;
  font-family: American Typewriter, serif;
  font-size: 60px;
}
h2 {
    text-align: center;
    color: #696969;
    font-family: American Typewriter, serif;
    font-size: 25px;
}

h3 {
  font-family: Bradley Hand, cursive;
  font-size: 40px;
}
div.movie-1 {
  text-align: center;
  color: #696969;
  background-image: radial-gradient(#FFF6C7, #FFFBE5);
}
p {
  font-size: 12px;
  font-family: sans-serif;
}
p:nth-child(3) {
  font-style: italic;
}
p:nth-child(5) {
  font-style: italic;
}
p:nth-child(7) {
  font-style: italic;
}

div.movie-2 {
  text-align: center;
  color: #696969;
  background-image: radial-gradient(#FFF1A9, #FFFBE5);
}
p {
  font-size: 12px;
  font-family: sans-serif;
}
p:nth-child(3) {
  font-style: italic;
}
p:nth-child(5) {
  font-style: italic;
}
}
p:nth-child(7) {
  font-style: italic;
}

div.movie-3 {
  text-align: center;
  color: #696969;
  background-image: radial-gradient(#FFEC8B, #FFFBE5);
}
p {
  font-size: 12px;
  font-family: sans-serif;
}
p:nth-child(3) {
  font-style: italic;
}
p:nth-child(5) {
  font-style: italic;
}
}
p:nth-child(7) {
  font-style: italic;
}
