body {
    padding-top: 5rem;
  }
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }

  img {
    max-width: 100%;
    width: auto;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
  }

  div {
    font-family: arial;
    color: #ff0000;
    font-size: 20px
  }

  .bd-example {
    width: 250px;
  }
  #id{
    align-items: center;

  }

  p {
    color: #000000;
  }

h5 {
  color: #ff0000;
  font-family: calibri;
}
