body {
  background-color: #000000;
    padding-top: 5rem;
  }
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }

  img {
    max-width: 100%;
    width: auto;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
  }

  div {
    font-family: arial;
    color: #ff0000;
    font-size: 20px
  }

  .bd-example {
    width: 250px;
  }


  p {
    font-family: arial;
    color: #000000;
  }

h2 {
  color: #ffffff;
  font-family: arial;
}

.carousel {
  max-height: 300px;
  overflow: hidden;

  .item img {
    width: 100%;
    height: auto;
  }
}

a {
  color: #ff0000;
  text-align: center;
  font-family: American Typewriter, serif;
}

title {
  text-align: center;
  font-family: American Typewriter, serif;
  color: #ff0000
}
