body {
  padding: 2rem;

}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #16715F
}
h2 {
    text-align: center;
    color: #16715F
}
div.movie-1 {
  text-align: center;
  background-color: 
}
