body {
  padding: 2rem;

}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #16715F
}
h2 {
    text-align: center;
    color: #16715F
}
div.movie-1 {
  text-align: center;
  background-image: url(images/deadpool.jpg);
  background-color: #990000;
  color: white;
}
p {
  font-size: 12px;
  font-family: helvetica;
}
p:nth-child(3) {
  font-style: italic;
}
